use crate::imc::Message::*;
use crate::imc::{IMC_CONST_UNK_EID, DUNE_IMC_CONST_SYNC};

use bytes::BufMut;
use crate::imc::Header::Header;
{{#imc-has-message-group}}use crate::imc::MessageGroup::{{imc-group-abbrev}}; {{/imc-has-message-group}}

{{#imc-message-desc}}
// {{desc-line}} {{/imc-message-desc}}

const c_msg_id :u16 = {{imc_message_id}};

{{#imc_message_enums}}
pub enum {{enum-abbrev}} { {{#enum-values}}
    {{enum-desc}}
    {{enum-name}} = {{enum-value}}, {{/enum-values}}
}

impl {{enum-abbrev}} {
    pub fn as_u8(&self) -> u8 {
        match self { {{#enum-values}}
            {{enum-name}} => {{enum-value}},{{/enum-values}}
        }
    }
}
{{/imc_message_enums}}

{{#imc-has-message-group}}
// message-group: {{imc-group-abbrev}}
impl {{imc-group-abbrev}} for {{imc_message_abbrev}} { }
{{/imc-has-message-group}}

pub struct {{imc_message_abbrev}}
{
    // IMC Header
    pub header: Header,
{{#imc-message-fields}} {{#imc-message-field-desc}}
    // {{desc-line}} {{/imc-message-field-desc}}
    pub {{imc-message-field-abbrev}} :{{imc-message-field-type}},
{{/imc-message-fields}}
}

impl {{imc_message_abbrev}}
{
    pub fn new() -> {{imc_message_abbrev}}
    {
        let mut msg = {{imc_message_abbrev}} {
            header : Header::new(c_msg_id),
{{#imc-message-fields-init}}
           {{imc-message-field-abbrev}}: {{imc-message-field-init}},{{/imc-message-fields-init}}
        };

        msg.set_size(msg.payload_serialization_size() as u16);

        msg
    }
}

impl Message for {{imc_message_abbrev}}
{
    fn get_header(&mut self) -> &mut Header {
        &mut self.header
    }

    fn static_id(&self) -> u16
    {
        c_msg_id
    }

    fn clear(&mut self)
    {
        {{imc_message_clear}}
    }

    fn fixed_serialization_size(&self) -> usize
    {
        {{imc_message_fixed_serialization_size}}
    }

    fn dynamic_serialization_size(&self) -> usize
    {
        {{imc_message_dynamic_serialization_size}}
    }

    fn serialize(&self, bfr :&mut bytes::BytesMut)
    {
        self.header.serialize(bfr);
{{#imc-serialization}}
        {{serialization-fn}};{{/imc-serialization}}

        serialize_footer(bfr);
    }
}