mod Message;
mod Header;
mod MessageGroup;
{{imc_mod_messages}}

pub const DUNE_IMC_VERSION :&'static str = "{{imc_version}}";

// IMC Synchronization number
pub const DUNE_IMC_CONST_SYNC :u16 = {{imc_sync_number}};

// IMC's header size
pub const IMC_CONST_HEADER_SIZE :u8 = {{imc_header_size}};

// IMC's footer size
pub const IMC_CONST_FOOTER_SIZE :u8 = {{imc_footer_size}};

// Unknown entity identifier.
pub const IMC_CONST_UNK_EID :u8 = 255;

pub mod utils
{
    use std::time::{SystemTime, UNIX_EPOCH};

    pub(crate) fn get_timestamp_secs() -> f64
    {
        SystemTime::now().duration_since(UNIX_EPOCH).expect("failed to get timestamp").as_secs_f64()
    }
}
